<h1 class="text-info text-center"> Project Management System </h1>
<br/>

<div class="container">

  <fieldset>
	<legend>Forgot Password</legend>
		<%= form_for(@user,:url => accounts_get_password_path ) do |f| %>
		    <div class="form-group">
			<%= f.label :login_name %>
			<%= f.text_field :login_name, :placeholder =>"4 to 20 characters long"%>
			</div> 
		  <div class="form-group">
			<%= f.label :last_name %>
			<%= f.text_field :last_name ,:placeholder =>"last_name" %>
		  </div>
		  <div class="form-group">
			<%= f.label :email %>
			<%= f.text_field :email ,:placeholder =>"Email" %>
		  </div>
		  <div class="actions">
			<%= button_tag(type: "submit", class: "btn btn-primary") do %>
			Get Password 
			<% end %>
		  </div>
		  <% end %>
	</fieldset>

<%= link_to 'Go back to Login Page', new_account_path %>

</div>